includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: max
    paths:
        - src
    scanDirectories:
        - vendor
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        - src/DemoGenerations/generated_examples/*